<nav>

    <a routerLink="/home" routerLinkActive="pagina-ativa">Home</a>
    <a routerLink="/contato" routerLinkActive="pagina-ativa">Contato</a>
    <a routerLink="/menu-responsivo" routerLinkActive="pagina-ativa">Menu Responsivo</a>
    <a routerLink="/event" routerLinkActive="pagina-ativa">Event</a>
    <a routerLink="/prop-binding" routerLinkActive="pagina-ativa">Property Binding</a>
    <a routerLink="/bind" routerLinkActive="pagina-ativa">2 way binding</a>
    <a routerLink="/alunos" routerLinkActive="pagina-ativa">Alunos</a>
    <a routerLink="/exercicios" routerLinkActive="pagina-ativa">Exercícios</a>

</nav>