:host {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
}

@media only screen and (max-width: 600px) {
    div {
        flex-direction: column;
    }
}